# MIPS-Frontend/docker-compose.yaml

services:
  ###################################
  # The Host Application (Consumer)
  ###################################
  host:
    container_name: mips-host
    build:
      context: ./mips-host # Path to the host's folder
      dockerfile: Dockerfile # Name of the Dockerfile inside it
    command: pnpm dev
    ports:
      - "3000:3000"
    volumes:
      # Mount host code for live-reloading
      - ./mips-host:/app
      # Hide the host's node_modules
      - /app/node_modules
    environment:
      # 'product-page' is the service name below
      - REMOTE_PRODUCT_PAGE_URL=http://product-page:3001/mf-manifest.json

  ###################################
  # The Remote Application (Provider)
  ###################################
  product-page:
    container_name: mips_product_page
    build:
      context: ./mips_product_page # Path to the remote's folder
      dockerfile: Dockerfile # Name of the Dockerfile inside it
    command: pnpm dev
    ports:
      - "3001:3001"
    volumes:
      - ./mips_product_page:/app
      - /app/node_modules
