# MIPS-Frontend/docker-compose.yaml

services:
  ###################################
  # The Host Application (Consumer)
  ###################################
  host:
    container_name: mips_host
    build:
      context: ./mips_host # Path to the host's folder
      dockerfile: Dockerfile # Name of the Dockerfile inside it
    command: pnpm dev
    ports:
      - "3000:3000"
    volumes:
      # Mount host code for live-reloading
      - ./mips_host:/app
      # Hide the host's node_modules
      - /app/node_modules
    environment:
      # 'product-page' is the service name below
      - REMOTE_PRODUCT_PAGE_URL=http://product-page:3001/mf-manifest.json

  ###################################
  # Product Page Remote Application (Provider)
  ###################################
  product-page:
    container_name: mips_product_page
    build:
      context: ./mips_product_page # Path to the remote's folder
      dockerfile: Dockerfile # Name of the Dockerfile inside it
    command: pnpm dev
    ports:
      - "3001:3001"
    volumes:
      - ./mips_product_page:/app
      - /app/node_modules

  ###################################
  # Shopping Cart Remote Application (Provider)
  ###################################
  shopping-cart:
    container_name: mips_shopping_cart
    build:
      context: ./mips_shopping_cart # Path to the remote's folder
      dockerfile: Dockerfile # Name of the Dockerfile inside it
    command: pnpm dev
    ports:
      - "3002:3002"
    volumes:
      - ./mips_shopping_cart:/app
      - /app/node_modules

  ###################################
  # Example Page Remote Application (Provider)
  ###################################
  example-page:
    container_name: mips_example_page
    build:
      context: ./mips_example # Path to the remote's folder
      dockerfile: Dockerfile # Name of the Dockerfile inside it
    command: pnpm dev
    ports:
      - "3003:3003"
    volumes:
      - ./mips_example:/app
      - /app/node_modules
